
.widthPage{
    width: 90%;
    margin: 50px;


}

.sizePicture{
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.colorInfo{
    background-color: lightcyan;
}

.colorButton{
    color: white;
}